body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9d9d9;
    border-bottom: 3px solid #999999;
}

.nav-title {
    width: 50vw;
    padding: 5px 20px;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 1600;
    font-family: "Courier New", Courier, monospace;
}

.nav-dropdown-menu {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.nav-dropdown-container {
    margin: auto;
    float: right;
}

.nav-dropdown-button-container button {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-dropdown-button {
    height: 100%;
    background-color: #efefef;
    padding: 12px;
    border: none;
    border-radius: 12px;
    border: 3px solid #999999;
}

.nav-dropdown-button:hover {
    background-color: white;
} 

.nav-dropdown-button-arrow {
    width: 50px;
    height: 50px;
}

.nav-dropdown-button-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-dropdown-button p {
    margin: 10px 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25rem;
    font-weight: 1000;
}

.nav-dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 0px;
}

.nav-dropdown-content ul {
    list-style-type: none;
}

.nav-dropdown-content li {
    padding: 10px;
    background-color: #efefef;
    border: 3px solid #999999;
    border-radius: 12px;
}

.nav-dropdown-content a {
    text-decoration: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.25rem;
    font-weight: 1000;
    margin: 0px 0px 15px 0px;
}

.content {
    display: flex;
    flex-direction: row;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d9d9d9;
    border-right: 3px solid #999999;
    width: 24vw;
} 

.nav-sidebar-title {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.5rem;
    margin-left: 20px;
}

.nav-sidebar-content ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.nav-sidebar-content li{
    margin: 17px;
}

.nav-sidebar-content a {
    text-decoration: none;
    color: black;
    font-size: 1.37rem;
    font-family: "Courier New", Courier, monospace;
    font-weight: 1000;
}

.nav-sidebar-selected {
    border-bottom: #999999 3px solid;
}

.admin-content-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.admin-content {
    margin: 7vh auto;
}

.admin-content-title {
    width: 65vw;
    margin: auto;
    margin-left: -0.5vw;
}

.admin-content-announcement {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}


.edit-profile-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.edit-profile-content-container {
    margin: 7vh auto;
}

.edit-profile-form-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 30vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.edit-profile-info {
    display: flex;
    flex-direction: row;
}

.edit-profile-info input {
  padding: 5px;
  margin: 5px;
  width: 90%;
  font-size: .75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-main-info {
    margin: 0px 12px;
}

.edit-profile-pfp {
    margin: 0px 12px;
    text-align: center;
}

.edit-profile-pfp img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.edit-profile-confirm-submit {
    margin: 12px;
}

.edit-profile-confirm-submit input {
    padding: 5px;
    margin: 5px;
    font-size: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile-confirm-submit button {
    padding: 5px;
    margin: 5px;
    font-size: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-accounts-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.manage-accounts {
    margin: 7vh auto;
}

.manage-accounts-interface {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.account:last-child {
    border-bottom: none;
}

.account-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.account-info {
    line-height: 1;
    width: 50%;
    margin: 0px 12px;
}

.account-options select {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-options option {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account-options button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-accounts-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.manage-announcements {
    margin: 7vh auto;
}

.manage-announcements-title {
    width: 65vw;
    margin: auto;
    margin-left: 14.5vw;
}

.manage-announcements-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.manage-announcements-form div {
    margin: auto;
}

.manage-announcements-form input {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 65vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-announcements-form textarea {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 65vw;
    height: 25vh;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 4px;
}

.manage-announcements-form button {
    padding: 5px;
    margin: 5px auto;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-announcements-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.announcement {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.announcement-details {
    line-height: 1;
    width: 50%;
    margin: 0px 12px;
}

.announcement-single-interface {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.announcement-interface-buttons {
    display: flex;
    flex-direction: row;
}

.announcement-interface-buttons button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}

.manage-jobs-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.manage-jobs {
    margin: 7vh auto;
}

.manage-jobs-title {
    width: 65vw;
    margin: auto;
    margin-left: 1rem;
}

.manage-jobs-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}


.manage-jobs-form div {
    margin: auto;
}

.manage-jobs-form input {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 62vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-jobs-form select {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 62vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.manage-jobs-form textarea {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 62vw;
    height: 25vh;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 4px;
}

/* checkbox stylings */

.manage-jobs-workers-select {
    display: flex;
    flex-wrap: wrap; /* Allows the checkboxes to wrap to the next line if there's not enough space */
    gap: 1rem; /* Adds space between the checkboxes */
    margin: 1rem auto;
    width: 65vw;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container input {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkbox-container input:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.checkbox-container input:checked::before {
    font-size: 16px;
    color: white;
    display: block;
    text-align: center;
    position: relative;
    top: -3px;
}

.checkbox-container label {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

/* checkbox stylings */

.manage-jobs-form button {
    padding: 5px;
    margin: 5px auto;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-jobs-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.job {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.job:last-child {
    border-bottom: none;
}

.job-buttons button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-requests-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.manage-requests {
    margin: 7vh auto;
}

.manage-requests-interface {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.request {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #999999 3px solid;
    margin: 12px;
    padding: 12px;
}

.request div {
    margin: 0px 12px;
}

.request:last-child {
    border-bottom: none;
}

.request-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.request-info {
    line-height: 0.75;
    width: 50%;
}


.request-status-select select {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.request-status-select option {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.request-status-select button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-quotations-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.manage-quotations {
    display: flex;
    flex-direction: row;
    margin: 7vh auto;
    gap: 2.5rem;
}

.manage-quotations-requests-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.request-buttons button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-quotations-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.quotation {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.quotation-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.quotation:last-child {
    border-bottom: none;
}

.quotation-buttons button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
    .edit-profile-form-container {
        width: 75vw;
        text-align: center;
    }
    .account {
        flex-direction: column;
    }
    .job {
        flex-direction: column;
    }
    .request {
        flex-direction: column;
    }
    .announcement {
        flex-direction: column;
    }
    .quotation {
        flex-direction: column;
    }
    .manage-quotations {
        flex-direction: column;
    }
}