.account,
.announcement,
.job,
.nav-sidebar-selected,
nav {
    border-bottom: 3px solid #999;
}

.quotation,
.task,
.task-buttons {
    column-gap: 30px;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9d9d9;
}

.nav-title {
    width: 50vw;
    padding: 5px 20px;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 1600;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.nav-dropdown-button p,
.nav-dropdown-content a,
.nav-sidebar-content a {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

.nav-dropdown-menu {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.nav-dropdown-container {
    margin: auto;
    float: right;
}

.nav-dropdown-button-container button {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-dropdown-button {
    height: 100%;
    background-color: #efefef;
    padding: 12px;
    border: 3px solid #999;
    border-radius: 12px;
}

.nav-dropdown-button:hover {
    background-color: #fff;
}

.nav-dropdown-button-arrow {
    width: 50px;
    height: 50px;
}

.nav-dropdown-button-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-dropdown-button p {
    margin: 10px 3px;
    font-size: 1.25rem;
}

.nav-dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 0;
}

.nav-dropdown-content ul {
    list-style-type: none;
}

.nav-dropdown-content li {
    padding: 10px;
    background-color: #efefef;
    border: 3px solid #999;
    border-radius: 12px;
}

.nav-dropdown-content a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    margin: 0 0 15px;
}

.announcement-interface-buttons,
.content,
.edit-profile-info {
    display: flex;
    flex-direction: row;
}

.nav-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #d9d9d9;
    border-right: 3px solid #999;
    width: 24vw;
}

.nav-sidebar-title {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    margin-left: 20px;
}

.nav-sidebar-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-sidebar-content li {
    margin: 17px;
}

.nav-sidebar-content a {
    text-decoration: none;
    color: #000;
    font-size: 1.37rem;
}

.admin-content-container,
.edit-profile-container,
.manage-accounts-container,
.manage-jobs-container,
.manage-quotations-container,
.manage-requests-container,
.manage-schedules-container,
.manage-tasks-container,
.view-quotation-container {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    align-items: center;
    flex-wrap: wrap;
}

.admin-content,
.edit-profile-content-container,
.manage-accounts,
.manage-announcements,
.manage-jobs,
.manage-requests {
    margin: 7vh auto;
}

.admin-content-title {
    width: 65vw;
    margin: auto auto auto -0.5vw;
}

#manage-schedule-list,
.admin-content-announcement,
.manage-accounts-interface,
.manage-announcements-list,
.manage-jobs-list,
.manage-requests-interface,
.manage-tasks-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.edit-profile-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 50vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.edit-profile-info input {
    padding: 5px;
    margin: 5px;
    width: 90%;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile-main-info,
.request div {
    margin: 0 12px;
}

.edit-profile-pfp {
    margin: 0 12px;
    text-align: center;
}

.account,
.edit-profile-confirm-submit {
    margin: 12px;
}

.edit-profile-pfp img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.edit-profile-confirm-submit button,
.edit-profile-confirm-submit input {
    padding: 5px;
    margin: 5px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.account:last-child,
.announcement:last-child,
.job:last-child,
.quotation-item:last-child,
.quotation:last-child,
.request:last-child,
.task:last-child {
    border-bottom: none;
}

.account-profile-picture img,
.announcement-profile-picture img,
.quotation-profile-picture img,
.request-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.account-info,
.announcement-details {
    line-height: 1;
    width: 50%;
    margin: 0 12px;
}

.account-options button,
.account-options option,
.account-options select,
.announcement-interface-buttons button,
.job-buttons button,
.quotation-buttons button,
.quotation-item button,
.request-buttons button,
.request-status-select button,
.request-status-select option,
.request-status-select select,
.task-buttons button,
.task-buttons select {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-announcements-title {
    width: 65vw;
    margin: auto auto auto 14.5vw;
}

.manage-announcements-form,
.manage-jobs-form,
.manage-quotation-form,
.manage-quotations-items-form,
.manage-schedule-controls,
.manage-tasks-job,
.view-quotation-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.manage-announcements-form div,
.manage-jobs-form div {
    margin: auto;
}

.manage-announcements-form input,
.manage-quotation-form input,
.manage-quotations-items-form input,
.manage-schedule-controls input,
.manage-tasks-form input {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 60vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-announcements-form textarea,
.manage-quotation-form textarea,
.manage-tasks-form textarea {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 60vw;
    height: 25vh;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 4px;
}

.manage-announcements-form button,
.manage-jobs-form button,
.manage-quotation-form button,
.manage-schedule-controls button,
.manage-tasks-form button {
    padding: 5px;
    margin: 5px auto;
    width: 90%;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.announcement,
.job {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: 12px;
}

.announcement-single-interface {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.error,
.error-message {
    color: red;
}

.success,
.success-message {
    color: green;
}

.manage-jobs-title {
    width: 65vw;
    margin: auto auto auto 1rem;
}

.manage-jobs-form input,
.manage-jobs-form select {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 62vw;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-jobs-form textarea {
    padding: 5px;
    margin: 5px;
    font-size: 1.5rem;
    width: 62vw;
    height: 25vh;
    border: 1px solid #ccc;
    resize: none;
    border-radius: 4px;
}

.manage-jobs-workers-select,
.manage-tasks-checkbox-container {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    width: 65vw;
}

.checkbox-container input:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.quotation,
.request {
    border-bottom: 3px solid #999;
    display: flex;
}

.checkbox-container input:checked::before {
    font-size: 16px;
    color: #fff;
    display: block;
    text-align: center;
    position: relative;
    top: -3px;
}

.checkbox-container label,
.manage-schedule-controls label {
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
}

.request {
    flex-direction: row;
    align-items: center;
    margin: 12px;
    padding: 12px;
}

.request-info {
    line-height: 1;
    width: 50%;
}

.manage-quotation,
.manage-schedule,
.view-quotation {
    margin: 0 3vw;
}

.manage-quotations {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 30px;
}

.manage-quotations-list,
.manage-quotations-requests-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.quotation {
    flex-direction: row;
    align-items: center;
    margin: 12px;
}

.manage-quotation-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.manage-quotations-items-form button {
    padding: 15px;
    margin: 5px auto;
    width: 65vw;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.manage-quotations-items-list,
.view-quotation-items {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.quotation-item,
.task {
    flex-direction: row;
    border-bottom: 3px solid #999;
}

.quotation-item {
    display: flex;
    align-items: center;
    margin: 12px;
    padding: 12px;
    justify-content: space-between;
}

.action-message,
.manage-tasks-form {
    display: flex;
    width: 65vw;
    padding: 3vh 3vw;
}

.manage-tasks {
    margin: 0 auto;
}

.manage-tasks-form {
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.checkbox-container input {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    appearance: none;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.task {
    display: flex;
    align-items: center;
    margin: 12px;
    justify-content: space-between;
}

.task-buttons {
    display: flex;
    flex-direction: row;
}

.action-message {
    flex-direction: column;
    margin: auto;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.action-message p {
    font-size: 1.5rem;
    margin: auto;
}

@media only screen and (max-width: 820px) {
    h1, h2, h3, h4, h5, h6 {
        font-family: 0.50em;
    }
    body {
        font-size: 0.75em;
    }
    .edit-profile-form-container {
        width: 75vw;
        text-align: center;
    }

    .nav-sidebar {
        width: 100vw;
        border-right: none;
        border-bottom: 3px solid #999;
        height: 50vh;
    }

    .admin-main-navbar {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .account,
    .announcement,
    .job,
    .manage-quotations,
    .quotation,
    .request {
        flex-direction: column;
    }
    .manage-quotations-list, .manage-quotations-requests-list {
        width: 75vw;
    }
    .edit-profile-form-container {
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
}
  
@media only screen and (max-width: 768px) {
    .nav-sidebar {
        width: 100vw;
        border-right: none;
        border-bottom: 3px solid #999;
        height: 70vh;
    }
}
  