body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9d9d9;
    border-bottom: 3px solid #999999;
}

.nav-title {
    width: 50vw;
    padding: 5px 20px;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 1600;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.nav-dropdown-menu {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.nav-dropdown-container {
    margin: auto;
    float: right;
}

.nav-dropdown-button-container button {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-dropdown-button {
    height: 100%;
    background-color: #efefef;
    padding: 12px;
    border: none;
    border-radius: 12px;
    border: 3px solid #999999;
}

.nav-dropdown-button:hover {
    background-color: white;
} 

.nav-dropdown-button-arrow {
    width: 50px;
    height: 50px;
}

.nav-dropdown-button-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-dropdown-button p {
    margin: 10px 3px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-weight: 1000;
}

.nav-dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 0px;
}

.nav-dropdown-content ul {
    list-style-type: none;
}

.nav-dropdown-content li {
    padding: 10px;
    background-color: #efefef;
    border: 3px solid #999999;
    border-radius: 12px;
}

.nav-dropdown-content a {
    text-decoration: none;
    color: black;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-weight: 1000;
    margin: 0px 0px 15px 0px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}



.worker-content-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.worker-content {
    margin: 7vh auto;
}

.worker-content-title {
    width: 65vw;
    margin: auto;
}


.worker-content-announcement {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.worker-content-tasks {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.worker-content-jobs {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.worker-content-job, .job {
    display: flex;
    flex-direction: column;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.worker-content-job:last-child {
    border-bottom: none;
}

.worker-content-task, .job-task {
    display: flex;
    flex-direction: row;
    border-bottom: #999999 3px solid;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
}

.worker-content-task-buttons, .job-task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.worker-content-task-buttons button, .job-task-buttons button {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.worker-content-task-buttons select, .job-task-buttons select {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.worker-content-task:last-child {
    border-bottom: none;
}

.job:last-child {
    border-bottom: none;
}

.job-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.edit-profile-container {
    display: flex;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.edit-profile-content-container {
    margin: 7vh auto;
}

.edit-profile-form-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 30vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgb(255, 255, 255, 0.75);
}

.edit-profile-info {
    display: flex;
    flex-direction: row;
}

.edit-profile-info input {
  padding: 5px;
  margin: 5px;
  width: 90%;
  font-size: .75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.edit-profile-main-info {
    margin: 0px 12px;
}

.edit-profile-pfp {
    margin: 0px 12px;
    text-align: center;
}

.edit-profile-pfp img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.edit-profile-confirm-submit {
    margin: 12px;
}

.edit-profile-confirm-submit input {
    padding: 5px;
    margin: 5px;
    font-size: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile-confirm-submit button {
    padding: 5px;
    margin: 5px;
    font-size: .75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.announcement {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    border-bottom: #999999 3px solid;
    margin: 12px;
}

.announcement:last-child {
    border-bottom: none;
}

.announcement-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.announcement-details {
    line-height: 1;
    width: 50%;
    margin: 0px 12px;
}


@media only screen and (max-width: 1200px) {
    .edit-profile-form-container {
        width: 75vw;
        text-align: center;
    }
    .request {
        display: flex;
        flex-direction: column;
    }
    .job {
        display: flex;
        flex-direction: column;
    }
    .announcement {
        flex-direction: column;
    }
}