.announcement,
.job,
.worker-content-job,
nav {
    border-bottom: 3px solid #999;
}

body {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9d9d9;
}

.nav-title {
    width: 50vw;
    padding: 5px 20px;
}

.nav-title h1 {
    font-size: 2.5rem;
    font-weight: 1600;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.nav-dropdown-button p,
.nav-dropdown-content a {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.25rem;
    font-weight: 1000;
}

.nav-dropdown-menu {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.nav-dropdown-container {
    margin: auto;
    float: right;
}

.nav-dropdown-button-container button {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-dropdown-button {
    height: 100%;
    background-color: #efefef;
    padding: 12px;
    border: 3px solid #999;
    border-radius: 12px;
}

.nav-dropdown-button:hover {
    background-color: #fff;
}

.nav-dropdown-button-arrow {
    width: 50px;
    height: 50px;
}

.nav-dropdown-button-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav-dropdown-button p {
    margin: 10px 3px;
}

.nav-dropdown-content {
    display: none;
    z-index: 1;
    position: absolute;
    margin-top: 0;
}

.nav-dropdown-content ul {
    list-style-type: none;
}

.nav-dropdown-content li {
    padding: 10px;
    background-color: #efefef;
    border: 3px solid #999;
    border-radius: 12px;
}

.nav-dropdown-content a {
    text-decoration: none;
    color: #000;
    margin: 0 0 15px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.edit-profile-container,
.worker-content-container {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    align-items: center;
}

.edit-profile-content-container,
.worker-content {
    margin: 7vh auto;
}

.worker-content-title {
    width: 65vw;
    margin: auto;
}

.worker-content-announcement,
.worker-content-jobs,
.worker-content-tasks {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 65vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.job,
.worker-content-job {
    display: flex;
    flex-direction: column;
    margin: 12px;
}

.announcement:last-child,
.job:last-child,
.worker-content-job:last-child,
.worker-content-task:last-child {
    border-bottom: none;
}

.job-task,
.worker-content-task {
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #999;
    margin: 12px;
    justify-content: space-between;
    align-items: center;
}

.job-task-buttons,
.worker-content-task-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit-profile-form-container,
.edit-profile-info {
    flex-direction: row;
    display: flex;
}

.job-task-buttons button,
.job-task-buttons select,
.worker-content-task-buttons button,
.worker-content-task-buttons select {
    padding: 12px;
    margin: 12px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.announcement-profile-picture img,
.job-profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.edit-profile-form-container {
    margin: auto;
    width: 50vw;
    padding: 3vh 3vw;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.75);
}

.edit-profile-info input {
    padding: 5px;
    margin: 5px;
    width: 90%;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-profile-main-info {
    margin: 0 12px;
}

.edit-profile-pfp {
    margin: 0 12px;
    text-align: center;
}

.edit-profile-pfp img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
}

.edit-profile-confirm-submit {
    margin: 12px;
}

.edit-profile-confirm-submit button,
.edit-profile-confirm-submit input {
    padding: 5px;
    margin: 5px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.announcement {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    margin: 12px;
}

.announcement-details {
    line-height: 1;
    width: 50%;
    margin: 0 12px;
}

@media only screen and (max-width: 820px) {
    h1, h2, h3, h4, h5, h6 {
        font-family: 0.50em;
    }
    body {
        font-size: 0.75em;
        line-height: 1.5;
    }
    .edit-profile-form-container {
        width: 75vw;
        text-align: center;
    }
    .worker-main-navbar {
        display: flex;
        flex-direction: column;
        padding-bottom: 15px;
    }

    .job,
    .request {
        display: flex;
        flex-direction: column;
    }

    .job-task {
        display: flex;
        flex-direction: column;
    }

    .announcement {
        flex-direction: column;
    }
    .edit-profile-form-container {
        display: flex;
        flex-direction: column;
        width: 75vw;
    }
}